@model  IEnumerable<Finapp.ViewModels.CreditorViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Creditors</h2>
@Html.ActionLink("Refresh", "Index", "Creditor")

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>ROI</th>
            <th>EROI</th>
            <th>Initial balance</th>
            <th>FinApp balance</th>
            <th>Exp profits</th>
            <th>Access days</th>
            <th>Date added to queue</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.ROI</td>
                <td>@user.EROI</td>
                <td>@user.Balance</td>
                <td>@user.FinappBalance</td>
                <td>@user.ExpectedProfits</td>
                <td>@user.AccessDays</td>
                <td>@user.Queue_Date.ToString("dd/MM/yyyy")</td>
                <td>@Html.ActionLink("Show transactions", "CreditorTransactions", "Transaction", new { username = user.Username }, null)</td>
            </tr>
        }
    </tbody>
</table>
