@model  IEnumerable<Finapp.ViewModels.TransactionWithUserViewModel>

@{
    ViewBag.Title = "Index";
}

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Date</th>
            <th>Creditor</th>
            <th>Debtor</th>
            <th>ROI</th>
            <th>Deb Finapp</th>
            <th>Deb Benefits</th>
            <th>Cred Finapp</th>
            <th>Cred Benefits</th>
            <th>Days</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>
                    @transaction.Amount
                </td>
                <td>
                    @transaction.Date.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @transaction.CreditorUsername
                </td>
                <td>
                    @transaction.DebtorUsername
                </td>
                <td>
                    @transaction.ROI
                </td>
                <td>
                    @transaction.DebtorAccountFinappAmount
                </td>
                <td>
                    @transaction.RealDebtorBenefits
                </td>
                <td>
                    @transaction.CreditorAccountFinappAmount
                </td>
                <td>
                    @transaction.RealCreditorBenefits
                </td>
                <td>
                    @transaction.DayAccessToFunds
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Per Annum</td>
                <td>
                    @transaction.DebtorBenefits
                </td>
                <td>Per Annum</td>
                <td>
                    @transaction.CreditorBenefits
                </td>
            </tr>
        }
    </tbody>
</table>