@model  IEnumerable<Finapp.ViewModels.TransactionWithUserViewModel>

@{
    ViewBag.Title = "Index";
}

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Creditor</th>
            <th>Debtor</th>
            <th>Exp Profits</th>
            <th>Deb Finapp</th>
            <th>Savings</th>
            <th>Cred Finapp</th>
            <th>Profits</th>
            <th>Days</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>
                    @transaction.Amount
                </td>
                <td>
                    @transaction.CreditorUsername
                </td>
                <td>
                    @transaction.DebtorUsername
                </td>
                <td>
                    @transaction.ROI
                </td>
                <td>
                    @transaction.DebtorAccountFinappAmount
                </td>
                <td>
                    @transaction.RealDebtorBenefits
                </td>
                <td>
                    @transaction.CreditorAccountFinappAmount
                </td>
                <td>
                    @transaction.RealCreditorBenefits
                </td>
                <td>
                    @transaction.DayAccessToFunds
                </td>
            </tr>
        }
        </tbody>
</table>