@model  Finapp.ViewModels.SummaryViewModel

@{
    ViewBag.Title = "Index";
}

@{ int rowNo = 0;}

@foreach (var transactions in Model.ListOfTransactions)
{
    <div class="text-center">
        <br/>
        <hr />
        <h2>Associate @transactions.Number</h2>
    </div>

    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Nr</th>
                <th>Amount</th>
                <th>Days</th>
                <th>Debtor</th>
                <th>Deb Finapp</th>
                <th>Delta APR %</th>
                <th>Savings</th>
                <th>Investor</th>
                <th>Inv Finapp</th>
                <th>Delta ROI %</th>
                <th>Profits</th>
                <th>Actual profits</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in transactions.List)
            {
                <tr>
                    <td>
                        @(rowNo += 1)
                    </td>
                    <td>
                        @transaction.Amount PLN
                    </td>
                    <td>
                        @transaction.DayAccessToFunds
                    </td>
                    <td>
                        @transaction.DebtorUsername
                    </td>
                    <td>
                        @transaction.DebtorAccountFinappAmount PLN
                    </td>
                    <td>
                        @transaction.APR %
                    </td>
                    <td>
                        @transaction.RealDebtorBenefits PLN
                    </td>
                    <td>
                        @transaction.CreditorUsername
                    </td>
                    <td>
                        @transaction.CreditorAccountFinappAmount PLN
                    </td>
                    <td>
                        @transaction.ROI %
                    </td>
                    <td>
                        @transaction.RealCreditorBenefits PLN
                    </td>
                    <td>
                        @transaction.ActualCreditorProfits PLN
                    </td>
                </tr>
            }
        </tbody>
    </table>

    foreach (var summaries in Model.Summary)
    {
        if (summaries.Summary != null)
        {

        if (summaries.Summary.AssociateId == transactions.AssociateId)
        {
            <div class="text-center">
                <br/>
                <h3>Summary</h3>
            </div>
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Days</th>
                        @*<th>Debit</th>
                        <th>Debit Avg</th>
                        <th>Amount</th>
                        <th>Amount Avg</th>*@
                        <th>Turnover</th>
                        <th>Savings</th>
                        <th>Savings Avg</th>
                        <th>Delta APR %</th>
                        <th>Profits</th>
                        <th>Profits Avg</th>
                        <th>Delta ROI %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @summaries.Summary.Days
                        </td>
                        @*<td>
                            @summaries.Summary.DebetSum PLN
                        </td>
                        <td>
                            @summaries.Summary.DebetAverage PLN
                        </td>
                        <td>
                            @summaries.Summary.BalanceSum PLN
                        </td>
                        <td>
                            @summaries.Summary.BalanceAverage PLN
                        </td>*@
                        <td>
                            @summaries.Summary.Turnover PLN
                        </td>
                        <td>
                            @summaries.Summary.SavingsSum PLN
                        </td>
                        <td>
                            @summaries.Summary.SavingsAverage PLN
                        </td>
                        <td>
                            @summaries.Summary.SavingsAveragePercentage %
                        </td>
                        <td>
                            @summaries.Summary.ProfitsSum PLN
                        </td>
                        <td>
                            @summaries.Summary.ProfitsAverage PLN
                        </td>
                        <td>
                            @summaries.Summary.ProfitsAveragePercentage %
                        </td>
                    </tr>
                </tbody>
            </table>
            }
        }
    }
}

<div class="text-center">
    <br />
    <hr />
    <h3>Last summary</h3>
</div>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Days</th>
            @*<th>Debit</th>
            <th>Debit Avg</th>
            <th>Amount</th>
            <th>Amount Avg</th>*@
            <th>Turnover</th>
            <th>Savings</th>
            <th>Savings Avg</th>
            <th>Delta APR %</th>
            <th>Profits</th>
            <th>Profits Avg</th>
            <th>Delta ROI %</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.LastSummary.Days
            </td>
            @*<td>
                @Model.LastSummary.DebetSum PLN
            </td>
            <td>
                @Model.LastSummary.DebetAverage PLN
            </td>
            <td>
                @Model.LastSummary.BalanceSum PLN
            </td>
            <td>
                @Model.LastSummary.BalanceAverage PLN
            </td>*@
            <td>
                @Model.LastSummary.Turnover PLN
            </td>
            <td>
                @Model.LastSummary.SavingsSum PLN
            </td>
            <td>
                @Model.LastSummary.SavingsAverage PLN
            </td>
            <td>
                @Model.LastSummary.SavingsAveragePercentage %
            </td>
            <td>
                @Model.LastSummary.ProfitsSum PLN
            </td>
            <td>
                @Model.LastSummary.ProfitsAverage PLN
            </td>
            <td>
                @Model.LastSummary.ProfitsAveragePercentage %
            </td>
        </tr>
    </tbody>
</table>