@model  Finapp.ViewModels.SummaryViewModel

@{
    ViewBag.Title = "Index";
}


@foreach (var transactions in Model.ListOfTransactions)
{
    <div class="text-center">
        <br/>
        <hr />
        <h2>Associate @transactions.Date.ToString("dd/MM/yyyy")</h2>
    </div>

    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Days</th>
                <th>Debtor</th>
                <th>Deb Finapp</th>
                <th>Delta APR</th>
                <th>Savings</th>
                <th>Creditor</th>
                <th>Cred Finapp</th>
                <th>Delta ROI</th>
                <th>Profits</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in transactions.List)
            {
                <tr>
                    <td>
                        @transaction.Amount PLN
                    </td>
                    <td>
                        @transaction.DayAccessToFunds
                    </td>
                    <td>
                        @transaction.DebtorUsername
                    </td>
                    <td>
                        @transaction.DebtorAccountFinappAmount PLN
                    </td>
                    <td>
                        @transaction.APR %
                    </td>
                    <td>
                        @transaction.RealDebtorBenefits PLN
                    </td>
                    <td>
                        @transaction.CreditorUsername
                    </td>
                    <td>
                        @transaction.CreditorAccountFinappAmount PLN
                    </td>
                    <td>
                        @transaction.ROI %
                    </td>
                    <td>
                        @transaction.RealCreditorBenefits PLN
                    </td>
                </tr>
            }
        </tbody>
    </table>

    foreach (var summaries in Model.Summary)
    {
        if (summaries.Summary.AssociateId == transactions.AssociateId)
        {
            <div class="text-center">
                <br/>
                <h3>Summary</h3>
            </div>
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Days</th>
                        <th>Debet</th>
                        <th>Debet Avg</th>
                        <th>Balance</th>
                        <th>Balance Avg</th>
                        <th>Savings</th>
                        <th>Savings Avg</th>
                        <th>Delta APR %</th>
                        <th>Profits</th>
                        <th>Profits Avg</th>
                        <th>Delta ROI %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @summaries.Summary.Days
                        </td>
                        <td>
                            @summaries.Summary.DebetSum PLN
                        </td>
                        <td>
                            @summaries.Summary.DebetAverage PLN
                        </td>
                        <td>
                            @summaries.Summary.BalanceSum PLN
                        </td>
                        <td>
                            @summaries.Summary.BalanceAverage PLN
                        </td>
                        <td>
                            @summaries.Summary.SavingsSum PLN
                        </td>
                        <td>
                            @summaries.Summary.SavingsAverage PLN
                        </td>
                        <td>
                            @summaries.Summary.SavingsAveragePercentage %
                        </td>
                        <td>
                            @summaries.Summary.ProfitsSum PLN
                        </td>
                        <td>
                            @summaries.Summary.ProfitsAverage PLN
                        </td>
                        <td>
                            @summaries.Summary.ProfitsAveragePercentage %
                        </td>

                    </tr>
                </tbody>
            </table>
        }
    }
    <div class="text-center">
        <br/>
        <h3>Creditors rank</h3>
    </div>

    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Creditor</th>
                <th>EAPR</th>
                <th>Days</th>
                <th>Transactions</th>
            </tr>
        </thead>

        @foreach (var list in Model.Creditors)
        {
            foreach (var creditor in list)
            {
                if (creditor.AssociateId == transactions.AssociateId)
                {
                    <tr>
                        <td>@creditor.Username</td>
                        <td>@creditor.EAPR</td>
                        <td>@creditor.DayAccessToFunds</td>
                        <td>@creditor.TransactionCounter</td>
                    </tr>
                }
            }
        }
    </table>

    <div class="text-center">
        <br/>
        <h3>Debtors rank</h3>
    </div>

    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Debtor</th>
                <th>Exp Savings</th>
                <th>Days</th>
                <th>Transactions</th>
            </tr>
        </thead>

        @foreach (var list in Model.Debtors)
        {
            foreach (var debtor in list)
            {
                if (debtor.AssociateId == transactions.AssociateId)
                {
                    <tr>
                        <td>@debtor.Username</td>
                        <td>@debtor.ExpSavings</td>
                        <td>@debtor.DayAccessToFunds</td>
                        <td>@debtor.TransactionCounter</td>
                    </tr>
                }
            }
        }
    </table>
}





