@model IEnumerable<Finapp.ViewModels.RankViewModel>

@{
    ViewBag.Title = "CreditorRank";
}

<br /><br />
<div class="text-center">
    <h2>Investors Rank</h2>
</div>

@{ int rowNo = 0; }

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Nr</th>
            <th>Username</th>
            <th>ROI</th>
            <th>EROI</th>
            <th>Trials</th>
            <th>Associations</th>
            <th>Profits</th>
            <th>Associate nr</th>
            <th>Transactions</th>
            <th>Balance</th>
            <th>Transactions sum</th>
        </tr>
        @foreach (var creditor in Model)
        {
            <tr>
                <td>
                    @(rowNo += 1)
                </td>
                <td>
                    @creditor.Username
                </td>
                <td>
                    @creditor.ROI
                </td>
                <td>
                    @creditor.EROI
                </td>
                <td>
                    @creditor.Trials
                </td>
                <td>
                    @creditor.AssociateCounter
                </td>
                <td>
                    @creditor.Money PLN
                </td>
                @foreach (var item in creditor.Associations)
                {
                    <td>
                        @item.AssociateNr
                    </td>
                    <td>
                        @item.TransactionCounter
                    </td>
                    <td>
                        @item.ActualDebet PLN
                    </td>
                    <td>
                        @item.MoneyInTransactions PLN
                    </td>
                }
            </tr>
        }
    </thead>
</table> 