@model IEnumerable<Finapp.ViewModels.RankViewModel>

@{
    ViewBag.Title = "CreditorRank";
}

<br /><br />
<div class="text-center">
    <h2>Investors Rank</h2>
</div>


<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>ROI</th>
            <th>EROI</th>
            <th>Trials</th>
            <th>Associations</th>
        </tr>
        @foreach (var creditor in Model)
        {
            <tr>
                <td>
                    @creditor.Username
                </td>
                <td>
                    @creditor.ROI
                </td>
                <td>
                    @creditor.EROI
                </td>
                <td>
                    @creditor.Trials
                </td>
                <td>
                    @creditor.AssociateCounter
                </td>
            </tr>
        }
    </thead>
</table> 