@model IEnumerable<Finapp.ViewModels.RankViewModel>

@{
    ViewBag.Title = "DebtorRank";
}

<br /><br />
<div class="text-center">
    <h2>Debtors Rank</h2>
</div>

@{ int rowNo = 0; }

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Nr</th>
            <th>Username</th>
            <th>APR</th>
            <th>EAPR</th>
            <th>Trials</th>
            <th>Associations</th>
            <th>Savings</th>
        </tr>
        @foreach (var debtor in Model)
        {
            <tr>
                <td>
                    @(rowNo += 1)
                </td>
                <td>
                    @debtor.Username
                </td>
                <td>
                    @debtor.APR
                </td>
                <td>
                    @debtor.EAPR
                </td>
                <td>
                    @debtor.Trials
                </td>
                <td>
                    @debtor.AssociateCounter
                </td>
                <td>
                    @debtor.Money
                </td>
            </tr>
        }
    </thead>
</table> 