@model Finapp.ViewModels.DebtorViewModel
@{
    ViewBag.Title = "Index";
}
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>APR</th>
                <th>EAPR</th>
                <th>Debet</th>
                <a href="~/Views/Debtor/TransactionForDeptor.cshtml">~/Views/Debtor/TransactionForDeptor.cshtml</a>
                <th>Finapp_Debet</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Debtor in Model.Debtors)
            {
                <tr>
                    <td>@Debtor.username</td>
                    <td>@Debtor.APR</td>
                    <td>@Debtor.EAPR</td>
                    <td>@Debtor.Debet</td>
                    <td>@Debtor.Finapp_Debet</td>
                    <td>@Html.ActionLink("Sprawdz historie transakcji", "TransactionForDeptor", "Debtor", new { id = Debtor.Debtor_Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
</div>