@model  IEnumerable<Finapp.ViewModels.DebtorViewModel>
@{
    ViewBag.Title = "Index";
}

<br /><br />
<div class="text-center">
    <h2>Debtors</h2>
</div>

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>APR</th>
            <th>EAPR</th>
            <th>Initial debit</th>
            <th>FinApp debit</th>
            <th>Exp savings</th>
            <th>Access days</th>
            <th>Date added to queue</th>
            <th>Have transactions</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.APR %</td>
                <td>@user.EAPR %</td>
                <td>@user.Debet PLN</td>
                <td>@user.FinappDebet PLN</td>
                <td>@user.ExpectedSavings PLN</td>
                <td>@user.AccessDays</td>
                <td>@user.Queue_Date.ToString("dd/MM/yyyy")</td>
                <td>@user.HaveTransactions</td>
                <td>@Html.ActionLink("Show transactions", "DebtorTransactions", "Transaction", new { username = user.Username }, null)</td>
            </tr>
        }
    </tbody>
</table>
