@model  IEnumerable<Finapp.ViewModels.DebtorViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Debtors</h2>
@Html.ActionLink("Refresh", "Index", "Debtor")


<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>APR</th>
            <th>EAPR</th>
            <th>Initial debet</th>
            <th>FinApp debet</th>
            <th>Exp savings</th>
            <th>Access days</th>
            <th>Date added to queue</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.APR</td>
                <td>@user.EAPR</td>
                <td>@user.Debet</td>
                <td>@user.FinappDebet</td>
                <td>@user.ExpectedSavings</td>
                <td>@user.AccessDays</td>
                <td>@user.Queue_Date.ToString("dd/MM/yyyy")</td>
                <td>@Html.ActionLink("Show transactions", "DebtorTransactions", "Transaction", new { username = user.Username }, null)</td>
            </tr>
        }
    </tbody>
</table>
