@model  Finapp.ViewModels.DebtorListViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Debtors</h2>
@Html.ActionLink("Refresh", "Index", "Debtor")

<table class="table table-responsive table-striped">
    <thead>
    <th>Username</th>
    <th>APR</th>
    <th>EAPR</th>
    <th>Debet</th>
    <th>FinApp debet</th>
    <th>Details</th>
    </thead>
    <tbody>
        @foreach (var user in Model.List)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.APR</td>
                <td>@user.EAPR</td>
                <td>@user.Debet</td>
                <td>@user.FinappDebet</td>
                <td>@Html.ActionLink("Details", "DebtorTransactions", "Transaction", new { username = user.Username }, null)</td>
            </tr>
        }
    </tbody>
</table>
